---
const badges = [
  { name: "HomeAdvisor", image: "/images/badges/homeadvisor.png", alt: "HomeAdvisor Elite Service" },
  { name: "BBB", image: "/images/badges/bbb.png", alt: "BBB A+ Rating" },
  { name: "Google", image: "/images/badges/google.png", alt: "Google Reviews 5 Stars" },
  { name: "Yelp", image: "/images/badges/yelp.png", alt: "Yelp 5 Stars" },
  { name: "Angi", image: "/images/badges/angi.png", alt: "Angi Super Service Award" },
];
---

<div class="flex justify-center items-center gap-1.5 sm:gap-3 mt-6 whitespace-nowrap px-4 sm:px-6">
  {badges.map((badge) => (
    <img 
      src={badge.image} 
      alt={badge.alt}
      class="h-10 sm:h-12 w-auto flex-shrink-0"
      loading="lazy"
    />
  ))}
</div>
